{{#link-to 'todo.create'}}create new todo{{/link-to}}
<br />
<ul>
  {{#each model as |todo|}}
    {{#if todo.isEditing}}
      <form {{action 'update' todo on='submit'}}>
        {{render "todo/form" todo}}
        <button>update</button>
        <button {{action 'delete' todo}}>delete</button>
        <button {{action 'toggleEditing' todo}}>cancel</button>
      </form>
    {{else}}
      <li {{action 'toggleEditing' todo}}>{{todo.title}}</li>
    {{/if}}
  {{/each}}
</ul>
