<ul class="todos">
  {{#each model.activeTodos as |todo|}}
    <li>
    {{#if todo.isEditing}}
      <form class="spaced" {{action 'updateTodo' todo on='submit'}}>
        {{render "todo/form" todo}}
        <button disabled={{ todo.isInvalid }}>update</button>
        <button class="danger" {{action 'deleteTodo' todo}}>delete</button>
        <button {{action 'toggleEditing' todo}}>cancel</button>
      </form>
    {{else}}
      {{input type="checkbox" checked=todo.isDone }}
      <a class="subtle" {{action 'toggleEditing' todo}}>{{todo.title}}</a>
    {{/if}}
    </li>
  {{/each}}
</ul>

<ul class="todos">
  {{#each model.innactiveTodos as |todo|}}
    <li class="innactive">{{input type="checkbox" checked=todo.isDone }}{{todo.title}}</li>
  {{/each}}
</ul>
