<ul class="todos">
  {{#each model as |todo|}}
    <li class="{{if todo.isDone "innactive"}}">
    {{#if todo.isEditing}}
      <form class="spaced" {{action 'updateTodo' todo on='submit'}}>
        {{render "todo/form" todo}}
        <button disabled={{ todo.isInvalid }}>update</button>
        <button class="danger" {{action 'deleteTodo' todo}}>delete</button>
        <button {{action 'toggleEditing' todo}}>cancel</button>
      </form>
    {{else}}
      {{input type="checkbox" checked=todo.isDone }}
      {{#if todo.isDone}}
      {{todo.title}}
      {{else}}
      <a class="subtle" {{action 'toggleEditing' todo}}>{{todo.title}}</a>
      {{/if}}
    {{/if}}
    </li>
  {{/each}}
</ul>
